.container_footer {
  display: flex;
  background-color: #4682b4;
  max-width: 100%;
  height: 6.2rem;
  font-family: "Montserrat", poppins;
  align-items: center;
  justify-content: center;
  color: #e9f2ef;
  gap: 10rem;
}

.brand {
  font-weight: 100;
  letter-spacing: 4px;
}

.socialWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.social_midias {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;

  a {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    text-decoration: none;
    color: #e9f2ef;
    font-size: 1rem;
    align-items: center;
  }
}

i {
  font-size: 1.5rem;
}

.conteudo {
  width: 100%;
  display: flex;
}

.title {
  font-size: 1rem;
  font-weight: 600;
  gap: 2rem;
}

@media (max-width: 768px) {
  .container_footer {
    align-items: flex-start;
    gap: 1rem;
  }

  .social_midias {
    gap: 1rem;
  }

  .conteudo {
    align-items: center;
  }

  .title {
    gap: 1rem;
  }
}
