
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #8EA9BF;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #efefef;
    border-radius: 4px;
  }